/* 标签初始化 */

body {
    margin: 0;  
}

div {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    height: 100%;
}

a {
    text-decoration: none;
}
